[submodule "proposal"]
	path = proposal
	url = https://git.overleaf.com/13833890hbhxncygrdvv
[submodule "VectorSync"]
	path = VectorSync
	url = https://github.com/wentaoshang/VectorSync.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
[submodule "ndn-cxx"]
	path = ndn-cxx
	url = https://github.com/named-data/ndn-cxx.git
