[submodule "proposal"]
	path = proposal
	url = https://github.com/simzou/cs217a-proposal.git
[submodule "VectorSync"]
	path = VectorSync
	url = https://github.com/simzou/VectorSync.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
[submodule "ndn-cxx"]
	path = ndn-cxx
	url = https://github.com/named-data/ndn-cxx.git
[submodule "NFD"]
	path = NFD
	url = https://github.com/named-data/NFD.git
	branch = master
